.main-content .press-banners .wrapper {
  padding-bottom: 120px;

  @include size(md) {
    padding-bottom: 102px;
  }

  @include size(sm) {
    padding-bottom: 83px;
  }

  @include size(xs) {
    padding-bottom: 64px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 50px;
    justify-content: space-between;
    align-items: center;

    @include size(lg) {
      justify-content: center;
    }

    a {
      max-height: 60px;
      
      img {
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        img {
          opacity: 0.75;
        }
      }
    }
  }
}