.main-content .showcase {
  overflow: hidden;

  .wrapper {
    padding-bottom: 120px;
  
    @include size(md) {
      padding-bottom: 110px;
    }
  
    @include size(sm) {
      padding-bottom: 100px;
    }
  
    @include size(xs) {
      padding-bottom: 90px;
    }
  
    >.content {
      margin-bottom: 46px;
  
      .title {
        color: $text-color-secondary;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2em;
        margin: 0px 0px 24px;
      }
  
      .text {
        color: $text-color-primary;
        font-size: 20px;
        line-height: 1.5em;
        
        p {
          margin: 0px 0px 10px;
  
          a {
            color: $text-color-primary;
          }
        }
      }
    }
  
    .list {
      display: flex;
      flex-wrap: nowrap;
      gap: 40px;
  
      .list-item {
        width: calc(100% / 4 - 30px);
        min-width: 280px;
        background-color: $card-bg-color;
        border-radius: 20px;
        overflow: hidden;
  
        .image-wrapper {
          width: 100%;
          height: 275px;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
          }
        }
  
        .item-content {
          padding: 24px;
  
          ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
  
            li {
              display: flex;
              justify-content: space-between;
              column-gap: 15px;
              margin-bottom: 12px;
  
              span {
                &.left {
                  text-align: left;
                }
  
                &.right {
                  text-align: right;
                }
  
                &.series, &.bid {
                  color: $text-color-sixth;
                  font-size: 12px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
  
                &.series  {
                  color: $text-color-fourth;
                }
  
                &.name, &.eth {
                  color: $text-color-secondary;
                  font-size: 20px;
                  font-weight: 500;
                }
  
                &.number, &.days {
                  color: $text-color-sixth;
                  font-size: 18px;
                  font-weight: 400;
                }
  
                .icon-eth {
                  margin-bottom: -3px;
                  margin-right: 4px;
                }
              }
  
              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}