// Page backgrounds colors
$background-color: #FFFFFF;

// Page side spaces
$page-side-padding: 30px;

// Page fonts
$text-font-primary: 'Inter', sans-serif;

// Texts colors
$text-color-primary: #555555;
$text-color-secondary: #111111;
$text-color-third: #FF3998;
$text-color-fourth: #FF8139;
$text-color-fifth: #999999;
$text-color-sixth: #777777;

// Button and banner background
$button-color-bg-gradient: linear-gradient(45deg, #ff3998 0%, #ff8139 40%, #ff3939 70%, #39ffa0 100%);

// Showcase
$card-bg-color: #EEEEEE;

// Footer
$footer-divider-color: #EEEEEE;